# Global settings
#---------------------------------------------------------------------
global
    maxconn     20000
    log         /dev/log local0 info
#    log         stdout local0 debug
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  tcplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          300s
    timeout server          300s
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 20000

listen stats
    bind :9000
    mode http
    stats enable
    stats uri /
    stats refresh 10s


frontend api-server-6443-frontend
    bind *:6443
    default_backend api-server-6443-backend
    mode tcp

backend api-server-6443-backend
    balance source
    mode tcp
    server      okd4-bootstrap 10.11.1.10:6443 check
    server      okd4-control-plane-1 10.11.1.20:6443 check
    server      okd4-control-plane-2 10.11.1.21:6443 check
    server      okd4-control-plane-3 10.11.1.22:6443 check

frontend machine-config-22623-frontend
    bind *:22623
    default_backend machine-config-22623-backend
    mode tcp

backend machine-config-22623-backend
    balance source
    mode tcp
    server      okd4-bootstrap 10.11.1.10:22623 check
    server      okd4-control-plane-1 10.11.1.20:22623 check
    server      okd4-control-plane-2 10.11.1.21:22623 check
    server      okd4-control-plane-3 10.11.1.22:22623 check

frontend ingress-router-80-frontend
    bind *:80
    default_backend ingress-router-80-backend
    mode tcp

backend ingress-router-80-backend
    balance source
    mode tcp
    server      okd4-control-plane-1 10.11.1.20:80 check
    server      okd4-control-plane-2 10.11.1.21:80 check
    server      okd4-control-plane-3 10.11.1.22:80 check
#    server      okd4-compute-1  10.12.3.30:80 check
#    server      okd4-compute-2  10.12.3.31:80 check

frontend ingress-router-443-frontend
    bind *:443
    default_backend ingress-router-443-backend
    mode tcp

backend ingress-router-443-backend
    balance source
    mode tcp
    server      okd4-control-plane-1 10.11.1.20:443 check
    server      okd4-control-plane-2 10.11.1.21:443 check
    server      okd4-control-plane-3 10.11.1.22:443 check
#    server      okd4-compute-1  10.12.3.30:443 check
#    server      okd4-compute-2  10.12.3.31:443 check
